{% extends 'admin/_layout.html.twig' %}

{% block title %}Ajouter une techno{% endblock %}

{% block body %}
{% include 'utils/_flashes.html.twig' %}

<div class="p-5 contact-form wrap radius">
    {{ form_start(form) }}
        <div class="wrap form-group radius">
            {{ form_row(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

    
        <input type="submit" value="Enregistrer" class="btn-hover color">
  
    {{ form_end(form) }}
</div>

    
{% endblock %}
